{% load plotly_dash %}
{% load bootstrap4 custom_code_tags %}

<form method="POST" action="{% url 'tom_dataproducts:share_all' tg_pk=target.id %}" enctype="multipart/form-data" id="spectroscopy-data-share-form">
  {% csrf_token %}
  {% for hidden in target_data_share_form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  <table class="table">
  <tbody>
  {% for entry in plot_list %}
    <tr valign="top">
      <td width=200>
        <div class="row">
          <input type="checkbox" class="spectrum-row" id="spectrum-row-{{ entry.spectrum.id }}" name="share-box" value="{{ entry.spectrum.id }}" onchange="check_selected_spectra()">
          <label class="form-check-label" for="spectrum-row-{{ entry.spectrum.id }}">Share</label>
        </div>
        <div class="row"><b>{{ entry.time }}</b></div>
        <div class="row">Telescope: {{ entry.spec_extras.telescope }} {{ entry.spec_extras.site }}</div>
        <div class="row">Instrument: {{ entry.spec_extras.instrument }}</div>
        <div class="row">Exposure Time: {{ entry.spec_extras.exptime|floatformat:0 }}s</div>
        <div class="row">Slit: {{ entry.spec_extras.slit }}"</div>
        <div class="row">Airmass: {{ entry.spec_extras.airmass|floatformat:2 }}</div>
        <div class="row">Reduced by: {{ entry.spec_extras.reducer }}</div>
        {% for comment in entry.spec_extras.comments %}
        <div class="row">{{ comment }}</div>
        {% endfor %}
        <div class="row">
          <input id="comment-{{ entry.spectrum.id }}" type="text" name="comment" title="Press Enter to submit" placeholder="Add a comment" onkeydown="savecomment(event, {{ entry.spectrum.id }})">
        </div>
        <div class="row mt-2">
          <a href="{% url 'custom_code:tns-share-spectrum' pk=entry.spectrum.target.id datum_pk=entry.spectrum.id %}" title=TNS class="btn  btn-info">Submit TNS Classification</a>
        </div>
      </td>
      <td width=1000>
        {% plotly_app name="Spectra_Individual" ratio=0.6 initial_arguments=entry.dash_context %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  <div class="card">
    <div class="card-header">
        Share Selected Data
    </div>
    {% if sharing_destinations %}
        <div class="form-row" style="padding-inline:1rem">
            <div class="col-sm-12">
                {% bootstrap_field target_data_share_form.share_title %}
            </div>
        </div>
        <div class="form-row" style="padding-inline:1rem">
            <div class="col-sm-12">
                {% bootstrap_field target_data_share_form.share_message %}
            </div>
        </div>
        <div class="form-row" style="padding-inline:1rem">
            <div class="col-sm-4">
                {% bootstrap_field target_data_share_form.share_destination %}
            </div>
            <div class="col-sm-2 offset-sm-1">
                <input type="submit" class="btn btn-primary" id="submit_selected_spectra" value="Submit" name="share_targetdata_form" style="position:absolute; bottom:1rem" disabled onclick="setTargetOnSpectroscopyForm('')">
            </div>
            {% if hermes_sharing %}
            <div class="col-sm-1">
                <b style="position:absolute; bottom:1.2rem">or</b>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-info" type="submit" formaction="{% url 'tom_targets:hermes-preload' pk=target.id %}" onclick="setTargetOnSpectroscopyForm('_blank')" style="position:absolute; bottom:1rem">Open in Hermes &#x1F5D7;</button>
            </div>
            {% endif %}
        </div>
    {% else %}
        <em style="padding-inline:1rem">Sharing Not Configured. See
            <a href="https://tom-toolkit.readthedocs.io/en/stable/managing_data/tom_direct_sharing.html"
               target="_blank">Documentation</a>.</em>
    {% endif %}
  </div>
</form>
